[% USE T8 %][% USE HTML %]

<script language="javascript">
   $( document ).ready(function() {
    if(document.createElement){
     head=document.getElementsByTagName('head').item(0);
     script=document.createElement('script');
     script.src='http://hyphenator.googlecode.com/svn/tags/Version%203.2.0/Hyphenator.js?bm=true&displaytogglebox=false&defaultlanguage=de';
     script.type='text/javascript';
     head.appendChild(script);
    }
    
    var gl_allrows = false;
    $('#gl_showhide_items').click(function () { 
      var i = 1;
      $(".Buchungsjournal tr").each(function() {
        if (gl_allrows == true && i > 12) {
          $(this).hide();
        }
        else {
          $(this).show();
        }
        i++;
      });
      if (gl_allrows == true) gl_allrows = false; else gl_allrows = true;
    });
  });
</script>

<center><a id="gl_showhide_items">Alle anzeigen/weniger anzeigen</a></center>
<br/>
<form method="post" action="dispatcher.pl?M=gl">

 <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 <input class="submit" type="submit" name="A_gl_transaction" value="[%- 'GL Transaction' | $T8 %]">
 <input class="submit" type="submit" name="A_ar_transaction" value="[%- 'AR Transaction' | $T8 %]">
 <input class="submit" type="submit" name="A_ap_transaction" value="[%- 'AP Transaction' | $T8 %]">
 <input class="submit" type="submit" name="A_sales_invoice" value="[%- 'Sales Invoice' | $T8 %]">
 <input class="submit" type="submit" name="A_vendor_invoice" value="[%- 'Vendor Invoice' | $T8 %]">

</form>
